.calculator__container {
  width: 22%;
  height: 57%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  border: 2px solid rgb(43, 47, 57);
  border-radius: 8px;
  background: rgb(141, 158, 181);
  padding-top: 5px;
}

.calculator__logoWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 2.5%;
}

.calculator__logoDescr {
  margin: 3px 0 0 0;
  font-size: 1vw;
  /* font-size: 11px; */
}

.calculator__logo {
  display: flex;
  justify-content: center;
}

.calculator__logo img {
  margin-right: 2px;
}

