.calculator__container {
  width: 28%;
  height: 57%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(43, 47, 57);
  border-radius: 3px;
  background: rgb(141, 158, 181);
}

.calculator__logoDescr {
  margin: 3px 0 0 0;
  font-size: 11px;
}

.calculator__logo {
  display: flex;
  justify-content: center;
}

.calculator__logo img {
  margin-right: 2px;
}

