.calculator__buttons {
    background-image: url('http://www.sclance.com/pngs/nyan-cat-png/nyan_cat_png_945051.jpg');
    outline-color: -webkit-focus-ring-color;
    outline-style: auto;
    outline-width: 5px;
}